#title
{
    background-color: #ff4c68;
    color: white;
}
body
{
    font-family: 'Montserrat';
}
h1
{
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 4rem;
    line-height: 1.5;
    
}
.container-fluid
{
    padding: 3% 15% 7%;
}
.navbar-brand
{
    font-family: "Ubuntu";
    font-weight: bold;
    font-size: 3rem;
}
.navbar
{
    padding: 0 0 4.5rem;
}
.nav-item
{
    padding: 0px 18px;
}
.nav-link
{
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 1.2rem;
}
.download-button
{
    margin: 5% 3% 5% 0;
    padding: 2.5%;
}
.download-icon
{
    margin: 0.5rem;
}
.title-image
{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 10%;
    
}
#features
{
    padding: 7% 15%;
    position: relative;
    background-color: white;
}
.feature-box
{
    text-align: center;
    padding: 5%;
}
h3
{
    font-family: "Montserrat";
    font-weight: bolder;
}
p
{
    color: grey;
}
.icon
{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover
{
    color: #ff4c68;
    transition: 0.5s;
}
#testimonials
{
    
    text-align: center;
    background-color: #ef8172;
    color: white;
}
.carousel-item
{
    padding: 7% 15%;
}
h2
{
    font-weight: bolder;
    font-size: 3rem;
    line-height: 1.5;
}
.testimonial-image
{
    border-radius: 100%;
    width: 10%;
    margin: 20px;
}
#press
{
    background-color: #ef8172;
    text-align: center;
}
.press-image
{
    width: 15%;
    margin: 20px 20px 50px;
}
#pricing
{
    padding: 100px;
    text-align: center;
}
.pricing-col
{
    padding: 3% 2%;
}
@media(max-width : 1028px)
{
    #title
    {
        text-align: center;
    }
    .title-image
    {
        transform: rotate(0);
        position: static;
    }
}
#cta
{
    padding: 7% 15%;
    text-align: center;
    background-color: #ff4c68;
    
}
h3
{
    font-family: "Montserrat";
    font-weight: bolder;
    line-height: 1.5;
    font-size: 3.5rem;
    color: white;
}
#footer
{
    padding: 7% 15%;
    text-align: center;
}
#footer p
{
    font-size: 1.25rem;
}
.ficon
{
    margin: 2.5% 1.25%;
    height: 2%;
}